@(twiipForm: Form[(String, String)], twiips: List[model.Twiip])(implicit lang: Lang)

@import helper._
@import viewhelper.ViewHelper._

@main("twipser") {

	<!-- mtf -->
	<div class="container">
		@form(routes.TwiipController.create) {
			@inputText(twiipForm("author"), '_label -> Messages("message.author"))
			@inputText(twiipForm("message"), '_label -> Messages("message.message"))	
			<br />
			<input class="btn btn-large" type="submit" value="@Messages("message.add")" />	
		}
	</div>
	
	<!-- mth -->
	<div class="page-header">
	  <h1>@Messages("messages")</h1>
	</div>

	<!-- mtl -->
    <div id="all-messages">
    @for(m <- twiips) {
		<blockquote>
			<p>@m.message</p>
			<small>@m.author (@formatJodaDateTime(m.createdAt))</small>
		</blockquote>
    }
    </div>

}