@(twiipForm: Form[(String, String)])(implicit lang: Lang)

@import helper._
@import viewhelper.ViewHelper._

@main("twipser") {

	<!-- mtf -->
	<div class="container">
		@form(routes.TwiipController.create, 'id -> "create-twiip-form") {
			@inputText(twiipForm("author"), '_label -> Messages("message.author"))
			@inputText(twiipForm("message"), '_label -> Messages("message.message"))	
			<br />
			<input class="btn btn-large" type="submit" value="@Messages("message.add")" />	
		}
	</div>
	
	<!-- mth -->
	<div class="page-header">
	  <h1>@Messages("messages")</h1>
	</div>

	<!-- mtl -->
    <div id="all-twiips" data-bind="foreach: twiips">

        <blockquote>
            <p data-bind="text: author"></p>
            <small data-bind="text: message"></small>
        </blockquote>
    </div>



    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("knockout.js"))'></script>
    <script src='@routes.Assets.at("javascripts/twiipsKnockout.js")' type="text/javascript"></script>

}